In [282]:
import regex as re
import pandas as pd
from collections import Counter

In [328]:
data = {"mz_values" : [], "intensity_values" : [], "Name": [], "iter": []}
# sequence_data = {"sequence": [], "Fullname": [], "Collision_energy" : [], , "iter": [], "No match": []}
sequence_data = {"sequence": [], "Fullname": [], "No match": [], "iter": [], "No match": []}

iter = 0
with open("cptac2_mouse_hcd_selected.msp") as f: 
    for line in f:
        line = line.replace("\n","")
        if line.startswith("Comment") or line.startswith("MW") or line.startswith("Num peaks") or line == "":
            continue
        if line.startswith("Name"):
            NameObj = re.match(r"Name: (.*)/\d_\d.*_(.*)eV", line)
            if NameObj:
                Name = NameObj.group(1)
                Collision_energy = float(NameObj.group(2))
                if len(Name) <= 30 and Collision_energy <= 40 and Collision_energy >= 36:
                    sequence_data["sequence"].append(Name)
                    iter = iter + 1
                    sequence_data["iter"].append(iter)
                    # sequence_data["Collision_energy"].append(Collision_energy)
            else: sequence_data["No match"].append(["No match with Name...", line])
        else:
            ValueObj = re.match(r"(.*)\t(.*)\t.*", line)
            if ValueObj:
                    mz = round(float(ValueObj.group(1)))
                    intensity = float(ValueObj.group(2))
                    if len(Name) <= 30 and Collision_energy <= 40 and Collision_energy >= 36 and mz >= 135 and mz <= 1400:
                        data["mz_values"].append(mz)
                        data["intensity_values"].append(intensity)
                        data["Name"].append(Name)
                        data["iter"].append(iter)
            # else: data["No match"].append(["No match with ...", line])

In [327]:
df_data = pd.DataFrame.from_dict(data)
# df1 = pd.DataFrame(index = round(df_data["mz_values"]).unique())
# df_cleaned = pd.DataFrame()
df_data

[]

In [316]:
gr = df_data.groupby("iter")

In [317]:
gr.get_group(1).sort_values("intensity_values", ascending=False).drop_duplicates("mz_values").sort_index()

     mz_values  intensity_values             Name  iter
0     136.0196             924.3  AAAFEDQENETVVVK     1
1     136.0758            2851.7  AAAFEDQENETVVVK     1
2     141.1025            1404.0  AAAFEDQENETVVVK     1
3     143.0816           26365.8  AAAFEDQENETVVVK     1
4     144.8338            1128.4  AAAFEDQENETVVVK     1
..         ...               ...              ...   ...
161  1291.6150            7756.5  AAAFEDQENETVVVK     1
162  1293.5999            3007.4  AAAFEDQENETVVVK     1
163  1309.6501            2700.8  AAAFEDQENETVVVK     1
164  1335.6620            7148.2  AAAFEDQENETVVVK     1
165  1398.6517            2797.6  AAAFEDQENETVVVK     1

[166 rows x 4 columns]

In [ ]:
for mz in df1.index:
    for i in gri.index:
        if gri.loc[i, "mz_values"] == mz:
            df1.loc[mz, gri["Name"]] = gri.loc[i, "mz_values"]
        else: 
            df1.loc[mz, gri["Name"]] = 0

In [288]:
df1

Empty DataFrame
Columns: []
Index: [136.0, 141.0, 143.0, 145.0, 147.0, 148.0, 155.0, 157.0, 161.0, 165.0, 167.0, 169.0, 171.0, 173.0, 175.0, 185.0, 189.0, 191.0, 192.0, 194.0, 195.0, 197.0, 199.0, 201.0, 209.0, 213.0, 214.0, 215.0, 217.0, 219.0, 226.0, 227.0, 228.0, 234.0, 241.0, 242.0, 243.0, 244.0, 245.0, 246.0, 247.0, 249.0, 258.0, 260.0, 261.0, 270.0, 272.0, 277.0, 278.0, 290.0, 297.0, 298.0, 300.0, 306.0, 307.0, 310.0, 316.0, 325.0, 327.0, 333.0, 334.0, 339.0, 343.0, 344.0, 345.0, 346.0, 348.0, 355.0, 361.0, 371.0, 373.0, 387.0, 392.0, 405.0, 409.0, 419.0, 426.0, 435.0, 444.0, 456.0, 463.0, 472.0, 490.0, 528.0, 545.0, 555.0, 640.0, 646.0, 647.0, 655.0, 661.0, 666.0, 674.0, 675.0, 690.0, 706.0, 707.0, 711.0, 724.0, 725.0, ...]

[1266 rows x 0 columns]